/* CABEÇALHO */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(138, 0, 0);
    font-size: small;

}

/* CLASS */
.seletor {
    font-family: Arial, Helvetica, sans-serif;
    color: blueviolet;
    font-size: small;
    margin: 30px;
    padding: 30px;
    line-height: 1.5px;

}

/* ID */
#texto {
    color: brown;
}

h2 {
    font-family: Bebas Neue;
    font-weight: lighter;
    text-align: center;
}